<%= form_for(@cliente) do |f| %>
    <% if @cliente.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

          <ul>
            <% @cliente.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="bs-callout bs-callout-info col-md-12">
      <fieldset>
        <legend>Informações pessoais</legend>
      </fieldset>

      <div class="form-group col-md-12">
        <%= f.label :nome %><br>
        <%= f.text_field :nome, class: 'form-control' %>
      </div>


      <div class="form-group col-md-3">
        <%= f.label :telefone %><br>
        <%= f.text_field :telefone, class: 'form-control' %>
      </div>

      <div class="form-group col-md-3">
        <%= f.label :email %><br>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group col-md-3">
        <%= f.label :identidade %><br>
        <%= f.text_field :identidade, class: 'form-control' %>
      </div>

      <div class="form-group col-md-3">
        <%= f.label :cpf %><br>
        <%= f.text_field :cpf, class: 'form-control' %>
      </div>

      <div class="form-group col-md-4">
        <%= f.label :profissao %><br>
        <%= f.text_field :profissao, class: 'form-control' %>
      </div>

      <div class="form-group col-md-4">
        <%= f.label :referencias_comerciais %><br>
        <%= f.text_field :referencias_comerciais, class: 'form-control' %>
      </div>

      <div class="form-group col-md-4">
        <%= f.label :referencias_bancarias %><br>
        <%= f.text_field :referencias_bancarias, class: 'form-control' %>
      </div>
    </div>


    <div class="bs-callout bs-callout-danger col-md-12">
      <fieldset>
        <legend>Endereço</legend>
      </fieldset>
      <div class="form-group col-md-8">
        <%= f.label :logradouro %><br>
        <%= f.text_field :logradouro, class: 'form-control' %>
      </div>

      <div class="form-group col-md-2">
        <%= f.label :numero %><br>
        <%= f.text_field :numero, class: 'form-control' %>
      </div>

      <div class="form-group col-md-2">
        <%= f.label :complemento %><br>
        <%= f.text_field :complemento, class: 'form-control' %>
      </div>

      <div class="form-group col-md-4">
        <%= f.label :bairro %><br>
        <%= f.text_field :bairro, class: 'form-control' %>
      </div>

      <div class="form-group col-md-4">
        <%= f.label :cidade %><br>
        <%= f.text_field :cidade, class: 'form-control' %>
      </div>

      <div class="form-group col-md-1">
        <%= f.label :estado %><br>
        <%= f.text_field :estado, class: 'form-control' %>
      </div>

      <div class="form-group col-md-3">
        <%= f.label :cep %><br>
        <%= f.text_field :cep, class: 'form-control' %>
      </div>
    </div>

    <div class="bs-callout bs-callout-default col-md-12">
      <fieldset>
        <legend>Outros</legend>
      </fieldset>
      <div class="form-group col-md-12">
        <%= f.label :observacoes %><br>
        <%= f.text_area :observacoes, class: 'form-control' %>
      </div>
    </div>

    <div class="actions pull-right">
      <%= link_to t('all'), clientes_path, class: 'btn btn-default' %>
      <%= f.submit class: 'btn btn-primary', data: {disable_with: t('processing')} %>
    </div>
<% end %>
