<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @transportadora.nome %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @transportadora.logradouro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @transportadora.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @transportadora.complemento %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @transportadora.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @transportadora.estado %>
</p>

<p>
  <strong>Telfone:</strong>
  <%= @transportadora.telfone %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @transportadora.cnpj %>
</p>

<p>
  <strong>Inscricao estadual:</strong>
  <%= @transportadora.inscricao_estadual %>
</p>

<%= link_to 'Edit', edit_transportadora_path(@transportadora) %> |
<%= link_to 'Back', transportadoras_path %>
