<p id="notice"><%= notice %></p>

<h1>Listing Produtos</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Unidade</th>
      <th>Fornecedor</th>
      <th>Fabricante</th>
      <th>Preco custo</th>
      <th>Margem lucro</th>
      <th>Custo medio</th>
      <th>Preco venda</th>
      <th>Estoque atual</th>
      <th>Estoque minimo</th>
      <th>Observacoes</th>
      <th>Cst</th>
      <th>Aliquota ipi</th>
      <th>Codigo ipi</th>
      <th>Aliquota icms</th>
      <th>Base calculo</th>
      <th>Peso bruto</th>
      <th>Peso liquido</th>
      <th>Precisao chegada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.descricao %></td>
        <td><%= produto.unidade %></td>
        <td><%= produto.fornecedor %></td>
        <td><%= produto.fabricante %></td>
        <td><%= produto.preco_custo %></td>
        <td><%= produto.margem_lucro %></td>
        <td><%= produto.custo_medio %></td>
        <td><%= produto.preco_venda %></td>
        <td><%= produto.estoque_atual %></td>
        <td><%= produto.estoque_minimo %></td>
        <td><%= produto.observacoes %></td>
        <td><%= produto.cst %></td>
        <td><%= produto.aliquota_ipi %></td>
        <td><%= produto.codigo_ipi %></td>
        <td><%= produto.aliquota_icms %></td>
        <td><%= produto.base_calculo %></td>
        <td><%= produto.peso_bruto %></td>
        <td><%= produto.peso_liquido %></td>
        <td><%= produto.precisao_chegada %></td>
        <td><%= link_to 'Show', produto %></td>
        <td><%= link_to 'Edit', edit_produto_path(produto) %></td>
        <td><%= link_to 'Destroy', produto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produto', new_produto_path %>
