<h2><%= t '.title' %></h2>

<hr>

<%= render 'search_form' %>

<%= render_index(@produtos, 'produtos')%>



<div class="actions pull-right">
  <%= link_to t('back'), :back, class: 'btn btn-default' %> <%= link_to t('new'), new_produto_path, class: 'btn btn-primary ' %>
</div>


