<p id="notice"><%= notice %></p>

<h1>Listing Funcionarios</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Data nascimento</th>
      <th>Rg</th>
      <th>Cpf</th>
      <th>Salario</th>
      <th>Data admissao</th>
      <th>Data demissao</th>
      <th>Dia pagamento</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th>Logradouro</th>
      <th>Numero</th>
      <th>Complemento</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Cep</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= funcionario.user %></td>
        <td><%= funcionario.data_nascimento %></td>
        <td><%= funcionario.rg %></td>
        <td><%= funcionario.cpf %></td>
        <td><%= funcionario.salario %></td>
        <td><%= funcionario.data_admissao %></td>
        <td><%= funcionario.data_demissao %></td>
        <td><%= funcionario.dia_pagamento %></td>
        <td><%= funcionario.telefone %></td>
        <td><%= funcionario.celular %></td>
        <td><%= funcionario.logradouro %></td>
        <td><%= funcionario.numero %></td>
        <td><%= funcionario.complemento %></td>
        <td><%= funcionario.bairro %></td>
        <td><%= funcionario.cidade %></td>
        <td><%= funcionario.estado %></td>
        <td><%= funcionario.cep %></td>
        <td><%= link_to 'Show', funcionario %></td>
        <td><%= link_to 'Edit', edit_funcionario_path(funcionario) %></td>
        <td><%= link_to 'Destroy', funcionario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Funcionario', new_funcionario_path %>
