<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @funcionario.user %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @funcionario.data_nascimento %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @funcionario.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @funcionario.cpf %>
</p>

<p>
  <strong>Salario:</strong>
  <%= @funcionario.salario %>
</p>

<p>
  <strong>Data admissao:</strong>
  <%= @funcionario.data_admissao %>
</p>

<p>
  <strong>Data demissao:</strong>
  <%= @funcionario.data_demissao %>
</p>

<p>
  <strong>Dia pagamento:</strong>
  <%= @funcionario.dia_pagamento %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @funcionario.telefone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @funcionario.celular %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @funcionario.logradouro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @funcionario.numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @funcionario.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @funcionario.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @funcionario.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @funcionario.estado %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @funcionario.cep %>
</p>

<%= link_to 'Edit', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Back', funcionarios_path %>
